:root {
    --first-color: #e4f1fe;
    --first-font: 'Castoro', serif;
    --second-font: 'Montserrat', sans-serif;
    --third-font: 'Ysabeau', sans-serif;

}

body {
    background: linear-gradient(to right, #434343 0%, black 100%);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    text-align: center;
}

h2 {
    text-align: center;
    color: #c4dce0;
    font-family: var(--third-font);
}

.greeting {
    color: var(--first-color);
    font-family: var(--second-font);
}

.sample {
    color: #e3e3e3;
    font-family: var(--second-font);
}

.first-pic {
    max-width: 80%;
}

.weather-heading {
    font-family: var(--third-font);
    margin-top: 100px;

}

.weather-paragraph {
    color: #e3e3e3;
    font-family: var(--first-font);
}

.translation-heading {
    font-family: var(--third-font);
    margin-top: 100px;

}

.translation-paragraph {
    color: #e3e3e3;
    font-family: var(--first-font);
}
